// Theme
// ---------------------------------------------------------------------------
$tertiary         : #b11c54;
$secondary        : #ee312d;
$primary          : #f78f31;
$light            : #FFF;
$dark             : #333;
$text-dark        : #212121;
$text-grey        : #484848;
$text-light       : $light;
$code-background  : #F8F8F8;
$overlay          : transparentize(#000, .5);
$font-size        : 28px;
$font-size-impact : 128px;
$font             : 'Open Sans', Arial, Helvetica, sans-serif;
$font-title       : 'Open Sans', Arial, Helvetica, sans-serif;
$font-fixed       : 'Lucida Console', Monaco, monospace;
$margin           : 20px;
$iframe-scale     : 1.5;
$paper            : rgb(162, 144, 123);
$react-blue       : $secondary;
$concourse        : rgb(61, 60, 60);

// CSS Base
// ---------------------------------------------------------------------------

* { box-sizing: border-box; }
body { font-family: $font; }
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $margin 0;
  font-family: $font-title;
}
h1, h2 { color: $text-dark; }
h3 { color: $text-grey; }
li { margin-bottom: .25em; };
pre, code {
  text-align: left;
  font-family: $font-fixed;
  color: $secondary;
  background: $code-background;
}
a, a:visited, a:hover, a:active { color: $text-dark; }
img { vertical-align: inherit; }
blockquote {
  border-left: 8px solid;
  padding-left: .5em;
  text-align: left;
  margin: 1em 0;
  & > p { margin: 0; }
}


// Remark base
// ---------------------------------------------------------------------------

.remark-code { font-size: .9em; }
.remark-container { background: $dark; }
.remark-slide-scaler { box-shadow: none; }
.remark-notes { font-size: 1.5em; }

.remark-slide-content {
  font-size: $font-size;
  padding: 1em 2em;
  color: $text-dark;
  background-size: cover;
}

.remark-slide-number {
  display: none;
  color: $text-light;
  right: 1em;
  opacity: .6;
  font-size: 0.8em;
  z-index: 2;
  .no-counter & { display: none; }
}

// Additions
.impact {
  background-color: $primary;
  vertical-align: middle;
  text-align: center;
  &, h1, h2, h3 { color: $light; }
  h1 {
    font-size: $font-size-impact;
  }
}

.full {
  &, h1, h2 { color: $text-light; }
  &iframe {
    height: calc(#{100%/$iframe-scale} - 1.2em);
    width: 100%/$iframe-scale;
    transform: scale($iframe-scale);
    transform-origin: 0 0;
    border: 0;
  }
}

.bottom-bar {
  background-color: $primary;
  color: $text-light;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  padding: .8em;
  text-align: left;
  z-index: 1;
  p { margin: 0;}
  .impact &, .full & { display: none; }
}


// Utilities
// ---------------------------------------------------------------------------

// Positioning
.side-layer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 2em;
}
.middle { &, & img, & span { vertical-align: middle; } };
.top { vertical-align: top; };
.bottom { vertical-align: bottom; };
.inline-block {
  p, ul, ol, blockquote {
    display: inline-block;
    text-align: left;
  }
}
.no-margin { &, & > p, & > pre, & > ul, & > ol { margin: 0; } }
.no-padding { padding: 0; }
.space-left { padding-left: 1em; }
.space-right { padding-right: 1em; }

// Images
.responsive > img { width: 100%; height: auto; };
.contain { background-size: contain; };
.overlay { box-shadow: inset 0 0 0 9999px $overlay; }

// Text
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }
.primary { color: $primary; }
.alt { color: $secondary; };
.em { color: $tertiary; };
.thin { font-weight: 200; }
.huge { font-size: 2em; }
.big { font-size: 1.5em; }
.small { font-size: .8em; }
.small-paragraph p { margin: 0; }
.dark-bg { background-color: $dark; }
.alt-bg { background-color: $secondary; };

// Simple 12-columns grid system
.row {
  width: 100%;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &.table { display: table; };
  &.table [class^="col-"] {
    float: none;
    display: table-cell;
    vertical-align: inherit;
  }
}

[class^="col-"] {
  float: left;
  &.inline-block {
    float: none;
    display: inline-block;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {width: 100% / 12 * $i; }
}

// Animations
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animation-fade {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  .remark-visible & { animation-name: fadeIn; }
}


// Fix PDF print with chrome
// ---------------------------------------------------------------------------

@page {
  // 908px 681px for 4/3 slides
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

// Mine

.transition {
  background-image: linear-gradient(to bottom right, $primary, $secondary, $tertiary);
  vertical-align: middle;
  text-align: center;
  &, h1, h2 { color: $text-light; }
}

.reverse {
  &, h1, h2 { color: $primary; }
  background-color: $text-light !important;
}

.full-width {
  background-size: 100% auto;
}

.full-height {
  background-size: auto 100%;
}

.mt-5 {
  margin-top: 5rem;
}

.big-image {
  &, p {
    margin: 0;
    padding: 0
  }
}

.bad-practice {
  &, h1, h2, h3 {
    color: red;
  }
}

.red {
  color: red;
}

.good-practice {
  &, h1, h2, h3 {
    color: green;
  }
}

.paper {
  background-color: $paper;
}

.react-blue {
  color: $react-blue;
}

.green {
  color: green;
}

.concourse {
  background-color: $concourse;
}

.white {
  &, h1 {
    color: white;
  }
}

.benefits {
  &, h1 {
    color: $primary;
    margin-bottom: 2rem;
  }
}

.bottom-right {
  position: absolute;
  right: 32px;
  bottom: 32px;
  color: $secondary;
}

.image-grid p {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.image-grid-1-row p {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.remark-slide-number {
  color: $primary;
  // display: none;
}

.side-by-side img {
  width: 500px;
}

.counting {
  display: inline-block;
}

.counting h1  {
  counter-increment: counting;
  content: counter(counting);

  border-radius: 50%;
  margin-right: 10px;
  padding: 10px 25px;

  background-color: $text-light;
  color: $text-dark;
}

.impact-wrapper {
  margin-left: -2em;
  margin-right: -2em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgba(0, 0, 0, 0.2);
}

.bubble {
  color: $light;
  background-color: $text-dark;
  border-radius: 50%;
  opacity: 0.8;
  padding: 0.7rem 0.9rem;
}
